<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
	  <add name="TrafficAllocationEntities" connectionString="metadata=res://*/FlightCube.csdl|res://*/FlightCube.ssdl|res://*/FlightCube.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sarnrpmhyp033\flightpro;initial catalog=TrafficAllocation;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="FlightCubeDBEntities" connectionString="metadata=res://*/FlightCubeDB.csdl|res://*/FlightCubeDB.ssdl|res://*/FlightCubeDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SARNRPMHYP033\FlightPro;Initial Catalog=FlightCube;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>